

:root {
    --ifm-color-white: #fff;
    --ifm-color-black: #000;

    --ifm-color-primary: #3578e5;
    --ifm-color-primary-dark: #306cce;
    --ifm-color-primary-darker: #2d66c3;
    --ifm-color-primary-darkest: #2554a0;
    --ifm-color-primary-light: #538ce9;
    --ifm-color-primary-lighter: #72a1ed;
    --ifm-color-primary-lightest: #9abcf2;

    --ifm-color-note: #ebedf0;
    --ifm-color-note-dark: #d4d5d8;
    --ifm-color-note-darker: #c8c9cc;
    --ifm-color-note-darkest: #a4a6a8;
    --ifm-color-note-light: #eef0f2;
    --ifm-color-note-lighter: #f1f2f5;
    --ifm-color-note-lightest: #f5f6f8;

    --ifm-color-success: #00a400;
    --ifm-color-success-dark: #009400;
    --ifm-color-success-darker: #008b00;
    --ifm-color-success-darkest: #007300;
    --ifm-color-success-light: #26b226;
    --ifm-color-success-lighter: #4dbf4d;
    --ifm-color-success-lightest: #80d280;

    --ifm-color-info: #54c7ec;
    --ifm-color-info-dark: #4cb3d4;
    --ifm-color-info-darker: #47a9c9;
    --ifm-color-info-darkest: #3b8ba5;
    --ifm-color-info-light: #6ecfef;
    --ifm-color-info-lighter: #87d8f2;
    --ifm-color-info-lightest: #aae3f6;

    --ifm-color-warning: #ffba00;
    --ifm-color-warning-dark: #e6a700;
    --ifm-color-warning-darker: #d99e00;
    --ifm-color-warning-darkest: #b38200;
    --ifm-color-warning-light: #ffc426;
    --ifm-color-warning-lighter: #ffcf4d;
    --ifm-color-warning-lightest: #ffdd80;

    --ifm-color-danger: #fa383e;
    --ifm-color-danger-dark: #e13238;
    --ifm-color-danger-darker: #d53035;
    --ifm-color-danger-darkest: #af272b;
    --ifm-color-danger-light: #fb565b;
    --ifm-color-danger-lighter: #fb7478;
    --ifm-color-danger-lightest: #fd9c9f;

    --ifm-color-note-background: #fafafa;
    --ifm-color-note-foreground: #474747;
    --ifm-color-note-highlight: rgba(134, 134, 135, 0.15);
    --ifm-color-note-border: var(--ifm-color-note-dark);
    --ifm-color-note-icon: var(--ifm-color-note-darkest);

    --ifm-color-success-background: #e6f6e6;
    --ifm-color-success-foreground: #003100;
    --ifm-color-success-highlight: rgba(0, 164, 0, 0.15);
    --ifm-color-success-border: var(--ifm-color-success-dark);
    --ifm-color-success-icon: var(--ifm-color-success-darkest);

    --ifm-color-info-background: #eef9fd;
    --ifm-color-info-foreground: #193c47;
    --ifm-color-info-highlight: rgba(84, 199, 236, 0.15);
    --ifm-color-info-border: var(--ifm-color-info-dark);
    --ifm-color-info-icon: var(--ifm-color-info-darkest);

    --ifm-color-warning-background: #fff8e6;
    --ifm-color-warning-foreground: #4d3800;
    --ifm-color-warning-highlight: rgba(255, 186, 0, 0.15);
    --ifm-color-warning-border: var(--ifm-color-warning-dark);
    --ifm-color-warning-icon: var(--ifm-color-warning-darkest);

    --ifm-color-danger-background: #ffebec;
    --ifm-color-danger-foreground: #4b1113;
    --ifm-color-danger-highlight: rgba(250, 56, 62, 0.15);
    --ifm-color-danger-border: var(--ifm-color-danger-darker);
    --ifm-color-danger-icon: var(--ifm-color-danger-darkest);
}

.dark {
    --ifm-color-note-background: #474748;
    --ifm-color-note-foreground: #fdfdfe;
    --ifm-color-note-highlight: rgba(235, 237, 240, 0.15);
    --ifm-color-note-border: var(--ifm-color-note-darker);
    --ifm-color-note-icon: var(--ifm-color-note-lightest);

    --ifm-color-success-background: #003100;
    --ifm-color-success-foreground: #e6f6e6;
    --ifm-color-success-highlight: rgba(0, 164, 0, 0.15);
    --ifm-color-success-border: var(--ifm-color-success-dark);
    --ifm-color-success-icon: var(--ifm-color-success-lightest);

    --ifm-color-info-background: #193c47;
    --ifm-color-info-foreground: #eef9fd;
    --ifm-color-info-highlight: rgba(84, 199, 236, 0.15);
    --ifm-color-info-border: var(--ifm-color-info-darker);
    --ifm-color-info-icon: var(--ifm-color-info-lightest);

    --ifm-color-warning-background: #4d3800;
    --ifm-color-warning-foreground: #fff8e6;
    --ifm-color-warning-highlight: rgba(255, 186, 0, 0.15);
    --ifm-color-warning-border: var(--ifm-color-warning-darker);
    --ifm-color-warning-icon: var(--ifm-color-warning-lightest);

    --ifm-color-danger-background: #4b1113;
    --ifm-color-danger-foreground: #ffebec;
    --ifm-color-danger-highlight: rgba(250, 56, 62, 0.15);
    --ifm-color-danger-border: var(--ifm-color-danger-darker);
    --ifm-color-danger-icon: var(--ifm-color-danger-lightest);


}

