@import "@/styles/fonts.css";
@import "@/styles/admonition.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-foreground transition-[background-color] duration-200;
        font-family: NanumSquare, serif;
    }

    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

        figure[data-rehype-pretty-code-figure] {
            @apply border-[var(--foreground)];
        }

        figure[data-rehype-pretty-code-figure] pre {
            @apply bg-[var(--shiki-light-bg)];
        }

        code[data-theme*=" "],
        code[data-theme*=" "] span {
            color: var(--shiki-light);
            background-color: var(--shiki-light-bg);
        }
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        figure[data-rehype-pretty-code-figure] {
            @apply border-[var(--foreground)];
        }

        figure[data-rehype-pretty-code-figure] pre {
            @apply bg-[var(--shiki-dark-bg)];
        }

        code[data-theme*=" "],
        code[data-theme*=" "] span {
            color: var(--shiki-dark);
            background-color: var(--shiki-dark-bg);
        }
    }
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

figure[data-rehype-pretty-code-figure] pre {
    overflow-x: auto;
    scrollbar-width: none;
    border: 1px solid white;
}

figure[data-rehype-pretty-code-figure] pre::-webkit-scrollbar {
    scrollbar-width: none;
}

code[data-line-numbers] {
    counter-reset: line;
}

code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);

    /* Other styling */
    display: inline-block;
    width: 0.75rem;
    margin-right: 2rem;
    text-align: right;
    color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
    width: 1.25rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
    width: 1.75rem;
}

code[data-line-numbers-max-digits="4"] > [data-line]::before {
    width: 2.25rem;
}

[data-rehype-pretty-code-title] {
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.4rem 1rem;
    border: 1px solid white;
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    border-bottom-style: none;
}

[data-rehype-pretty-code-title] + pre {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Inline Code */
/* Inline code block backtick display: none */
:not(pre) > code::before,
:not(pre) > code::after {
    display: none;
}


/* 인라인 코드 블록 스타일 */
:not(pre) > span[data-rehype-pretty-code-figure] > code {
    @apply rounded bg-zinc-300 px-1.5 py-0.5 text-zinc-800 dark:bg-zinc-800 dark:text-zinc-200;
}

:not(pre) > span[data-rehype-pretty-code-figure] > code span {
    @apply dark:bg-zinc-800 bg-zinc-300;
}

/* 일반 인라인 코드 스타일 */
:not(pre) > p > code {
    @apply mx-[0.2rem] rounded border bg-zinc-300 px-[0.4rem] py-[0.1rem] font-semibold dark:bg-zinc-800;
}


/* 댓글 마크다운 에디어 스타일 */
.md-editor-wrapper .w-md-editor {
    background-color: var(--background);
}

.md-editor-wrapper textarea[readonly] {
    cursor: not-allowed !important;
}

.md-editor-wrapper .w-md-editor-toolbar {
    background-color: var(--background);
    padding: 8px;
}

.md-editor-wrapper .w-md-editor-toolbar > ul > li {
    margin-right: 8px;
}

.md-editor-wrapper .w-md-editor-toolbar > ul > li.active > button {
    position: relative;
    background-color: transparent;
    color: var(--foreground) !important;
    font-weight: bold;
}

.md-editor-wrapper.w-md-editor-toolbar > ul > li.active > button::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    z-index: -1;
}

.md-editor-wrapper .w-md-editor-preview {
    background-color: var(--background);
}

.md-editor-wrapper .wmde-markdown,
.md-editor-wrapper .w-md-editor-preview .wmde-markdown {
    background-color: var(--background);
}


