@import "@/styles/fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-foreground transition-[background-color] duration-200;
        font-family: NanumSquare, serif;
    }
}

:root {
    --white: #f7fafc;
    --black: #111111;

    --background: white;
    --foreground: var(--black);

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;


}

/* 다크 모드 변수 설정 */
.dark {
    --background: var(--black);
    --foreground: var(--white);

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
}


/* 스크롤바 숨기기 */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE 및 Edge용 */
    scrollbar-width: none; /* Firefox용 */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera용 */
}
